*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    color: white;
    background-color: black;
}
    nav a{
        color: white;
        text-decoration: none;
        margin-left: 35px;
        font-size: 25px;
}
footer{ 
    padding: 5px 0;
    color: white;
    background-color: black;
    text-align: center;    
}
*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
     font-family:Arial, Helvetica, sans-serif;
}
.box1 h1{
    font-size: 28;
    margin-left: 155px; 
    margin-top: 30px;  
}
.box2{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.box3{
    display: flex;
    justify-content: space-between;
}
.box3 img{
    width:300px;
    margin-bottom: 40px;
    margin-top: 20px;
    
}
.box3 h3{
    max-width: 600px;
    margin-top: 5px;
}
.abox1{
    margin-left: 155px;
    margin-right: 155px;
}
.box3 h1{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 28px;



}
.button1{
    width: 160px;
    height: 35px;
    margin-top: 20px;
    background-color: blue;
    color: white;

}
.abox2 h1{
    font-size: 23px;
    margin-left: 155px;
    margin-top: 20px;


}
.abox2 li{
    font-size: 16px;
    margin-top: 5px;
    margin-left: 225px;
}
.abox2 ul{
    margin-top: 27px;
}
#safwan{
    margin-bottom: 40px;
}
#adnan{
    font-size: 16px;
   margin-top: 14px;
    margin-left: 155px;
}
.abox1 h3{
    margin-top: 7px;
    font-size: 16px;
}
main{
    margin-top: 70px;
}